# Copy to .env and fill secrets. Do not commit .env.

MONGO_URI=mongodb+srv://projectdb:YOUR_PASSWORD@cluster0.wzefzgx.mongodb.net/dublin_housing_project?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB=dublin_housing_project

POSTGRES_URI=postgresql+psycopg2://postgres:postgres@localhost:5432/dublin_housing

PROPERTY_CSV_PATH=data/raw/property_prices.csv

CSO_INCOME_API_URL=https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/SIA14/JSON-stat/2.0/en
CSO_POPULATION_API_URL=https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/F1015/JSON-stat/2.0/en

ANALYSIS_START_YEAR=2015
ANALYSIS_END_YEAR=2025
